* {
    margin: 0;
    box-sizing: border-box;
    /* box-sizing: border-box; */
    /* font-family: Helvetica, Arial, sans-serif; */
}

body {
    background-color:rgb(80, 93, 212);
    min-width: 1350px;
    position: relative;
}

.frame1 {
    /* width: 100%; */
    width: 1300px;
    height: 768px;
    background-color:rgb(80, 93, 212);
    position: relative;
    margin: auto;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1300px;
    height: 700px;
    background-color:rgb(209, 143, 43);
    border-radius: 30px;
    filter: drop-shadow(5px 5px 3px);
}

.word {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 500px;
    background: green;
    border-radius: 15px;
    filter: drop-shadow(3px 3px 10px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    position: absolute;
    width: 810px;
    height: 70px;
    /* display: flex; */
    bottom: 50px;
    /* border-style: solid; */
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 200px;
    height: 60px;
    background-color: rgb(247, 43, 155);
    border-radius: 15px;
    /* position: absolute; */
    /* bottom: 50px; */
    opacity: .8;
    transition: .2s;
    cursor: pointer;
    filter: drop-shadow(2px 2px 3px #000000);
    text-transform: uppercase;
    text-align: center;
    line-height: 60px;
    color: white;    
    font-weight: bold;
    font-size: 20px;
}

.fg {
    background-color: yellow;
    color: #000000;
}

.btn:hover {
    opacity: 1;
}

.btn:active {
    /* bottom: 40px; */
    margin-top: 6px;
}

h1 {
    position: absolute;
    font-size: 80px;
    top: 40px;
    color: #ccc;
    text-align: center;
}

h3 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
}

.ds {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

p {
    width: 600px;
    position: absolute;
    left: 50%;
    top: 242px;
    transform: translate(-50%, -50%);
    font-size: 40px; 
    color: bisque;
}

.p2 {
    text-align: center;
    font-style: italic;
    font-size: 30px;
    color: yellow;
    font-weight: bold;
    top: auto;
    bottom: 10px;
}

h2 {
    bottom: 3%;
    /* right: 0; */
    position: absolute;
    font-size: 15px;
    display: none;
}

.hint {
    background-color: blue;
    color: #000000;
}

.back {
    background-color: red;
    width: 60px;
}

.fwd {
    background-color: antiquewhite;
    width: 60px;
}

.btn > i {
    color: rgb(56, 56, 56);
    line-height: 60px;
    font-size: 30px;
}

.btn > i:hover {
    color: black;
    font-size: 34px;
}

.frame2 {
    position: absolute;
    width: 1350px;
    /* min-width: 1350px; */
    height: 768px;
    /* background-color: red; */
    backdrop-filter: blur(100px) contrast(60%);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: none;

    font-size: 60px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;

    transition: .3s;
    display: flex;
    top: -100%;

    padding: 0 50px;
}

.f2__act {
    /* display: block;     */
    /* display: flex; */
    top: 0;
}

.btn__back {
    position: absolute;
    bottom: 60px;
    width: 120px;
    height: 40px;
    background-color: black;
    cursor: pointer;
    
    line-height: 40px;
    font-size: 28px;
    
    transition: .2s;
}

.btn__back:hover {
    background-color: #ccc;
    width: 130px;
    height: 50px;
    color: black;
    
    /* line-height: 40px; */
    font-size: 30px;
}

.btn__back:hover .btn__back__icon {
    color: black;
    line-height: 50px;
    font-size: 40px;
}

.btn__back > i {
    color: #ccc;
    /* line-height: 100%; */
    transition: .1s;
}

.btn--after {
    background-color: black;
    bottom: 10px;
    position: absolute;
    right: 10px;
    width: 100px;
}

.btn--after:hover {
    background-color: #ccc;
    color: #000000;
}